<mat-toolbar color="accent">
  <mat-toolbar-row>
    <h1 class="head-line">my app</h1>
    <div style="display: flex; justify-content: flex-end; flex: 1 1 auto;"> 
      <button mat-raised-button class="nav-side" (click)= "toList()">
        List
    </button>     
    <button mat-raised-button class="nav-side" (click)="toHelp()">
        Help 
    </button>
  </div>
  </mat-toolbar-row>
</mat-toolbar>
